{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template format_tiles/tileicon

    Tile icon template.

    The purpose of this template is to render a single icon for a tile
    to be displayed in the tile template

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
        * isediting - is the user editing
        * secid - which section id in the sections table, not just the tile num in this course
        * tileid - which tile num in this course
        * title: - the section title for the icon alt text

    Example context (json):
    {
        "isediting": 0,
        "secid": 33,
        "tileid": 3,
        "title": "Introduction"
    }
}}

<div class="tileiconcontainer" {{#isediting}}data-toggle="tooltip"{{/isediting}} data-sectionid="{{secid}}"
     data-section="{{tileid}}"{{#isediting}} data-original-title="{{#str}}tooltipchangeicon, format_tiles{{/str}}"{{/isediting}}>
    <span class="launchiconpicker" data-toggle="modal" id="tileicon_{{tileid}}" data-sectionid="{{secid}}"
          data-section="{{tileid}}" data-target="#iconpickermodal">
        {{#tileicon}}
            {{#pix}}tileicon/{{{tileicon}}}, format_tiles, {{{title}}}{{/pix}}
        {{/tileicon}}
        {{^tileicon}}
            {{#pix}}tileicon/{{{defaulttileicon}}}, format_tiles, {{{title}}}{{/pix}}
        {{/tileicon}}
    </span>
</div>