body #page {
    //heading
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $gray-700;
        border: none;
        line-height: 1.5rem;
    }

    h1 {
        font-weight: 600;
        line-height: 2rem;
    }

    h2 {
        font-weight: normal;
        font-size: 1.75rem;
        line-height: 2rem;
    }

    h3 {
        font-weight: normal;
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.1rem;
        font-weight: lighter;
    }

    h5 {
        font-size: 0.9rem;
        line-height: 1rem;
        font-weight: lighter;
    }

    h6 {
        font-size: 0.7rem;
        line-height: 1rem;
        font-weight: lighter;
    }

    //blockquote
    blockquote {
        border-left: solid 4px rgba(144, 144, 144, 0.35);
        font-style: italic;
        margin: 0 0 2em 0;
        padding: 0.5em 0 0.5em 2em;
    }
    //coding
    pre {
        font-family: "Courier New", monospace;
        font-size: 0.9em;
        margin: 0 0 2em 0;
        code {
            display: block;
            line-height: 1.75em;
            padding: 1em 1.5em;
            overflow-x: auto;
        }
    }
    code {
        background: rgba(144, 144, 144, 0.075);
        border: solid 1px rgba(144, 144, 144, 0.35);
        font-family: "Courier New", monospace;
        font-size: 0.9em;
        margin: 0 0.25em;
        padding: 0.25em 0.65em;
    }

    .dropdown-item.active,
    .dropdown-item:active {
        color: choose-contrast-color($primary);
        background-color: lighten($primary, 20%);
    }

    //lists
    ul.alt {
        list-style: none;
        padding-left: 0;
        li {
            border-top: solid 1px rgba(144, 144, 144, 0.35);
            padding: 0.5em 0;
            &:first-child {
                border-top: 0;
                padding-top: 0;
            }
        }
    }

    //buttons
    ul.actions {
        display: flex;
        cursor: default;
        list-style: none;
        margin-left: -1em;
        padding-left: 0;

        li {
            padding: 0 0 0 1em;
            vertical-align: middle;
        }
    }

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    .btn {
        appearance: none;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        background-color: $gray-800;
        border-radius: 0;
        border: 0;
        color: $white;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 0.9rem;
        letter-spacing: 0.08rem;
        height: 2.75rem;
        margin: 0.5rem;
        padding: 0 0.9rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;

        &:hover {
            background-color: rgba($gray-800, 0.8);
            color: $white;
            text-decoration: none;
        }

        &.small {
            font-size: 0.8em;
        }

        &.large {
            font-size: 1.35em;
        }

        &.fit {
            width: 100%;
        }
    }


    ul.actions.fit li {
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;

        > * {
            width: 100%;
        }
    }

    .btn {
        line-height: 3.1em;
    }

    //Correct the alignment of the help icon with popover
    a.btn[data-toggle="popover"] {
        line-height: 1.5;
    }

    .btn-link {
        color: $primary;
        background: none;

        &:hover {
            background: none;
            color: darken($primary, 30%);
        }
    }

    input[type="submit"].btn-primary,
    input[type="reset"].btn-primary,
    input[type="button"].btn-primary,
    button.btn-primary,
    .btn.btn-primary {
        background-color: $primary;
        color: choose-contrast-color($primary);

        &:hover {
            background-color: darken($primary, 30%);
            color: choose-contrast-color($primary);
        }
    }

    input[type="submit"].btn-secondary,
    input[type="reset"].btn-secondary,
    input[type="button"].btn-secondary,
    button.btn-secondary,
    .btn.btn-secondary {
        background-color: $white;
        border: 0;
        box-shadow: inset 0 0 0 1px rgba(144, 144, 144, 0.35);
        color: $black;
        &:hover {
            background-color: rgba(144, 144, 144, 0.075);
        }
    }

    input[type="submit"].fa:before,
    input[type="reset"].fa:before,
    input[type="button"].fa:before,
    .btn.fa:before {
        margin-right: 0.5em;
    }

    .filemanager-container,
    .filepicker-filelist {
        @extend .border;
    }

    //form
    form {
        input[type="text"],
        input[type="password"],
        input[type="email"],
        select,
        textarea {
            appearance: none;
            background-color: rgba(144, 144, 144, 0.075);
            border-radius: 0;
            border: solid 1px rgba(144, 144, 144, 0.35);
            color: inherit;
            display: block;
            outline: 0;
            text-decoration: none;
            width: 100%;
        }

        input[type="text"],
        input[type="password"],
        input[type="email"],
        select {
            height: 2.75rem;
            padding-left: 1rem;
        }

        .btn-link {
            background: none;
            border: none;
            border-radius: unset;
            padding: 0;
            &:hover {
                background: none;
            }
        }
    }

    .form-group {
        margin-bottom: 0.8rem;
    }

    select {
        background-image: url([[pix:theme|select]]);
        background-size: 1.25rem;
        background-repeat: no-repeat;
        padding-right: 2.5rem;
        background-position: right .75rem center;
    }

    select[multiple],
    .userselector select {
        height: auto;
        background-image: none;
    }

    form .form-inline {
        input[type="text"] {
            display: inline-block;
        }
        .sr-only + select {
            display: inline-block;
            width: 70%;
            background-position: 98%;
            padding-right: 3rem;
        }
    }

    //style for search with downarrow
    .form-autocomplete-downarrow {
        float: right;
        top: -2rem;
    }

    .form-autocomplete-suggestions {
        width: 97%;
        padding: 0.5rem 1rem;
    }

    .page-item.active .page-link {
        color: choose-contrast-color($primary);
    }

    #coursesearch {
        #coursesearchbox {
            width: auto;
            display: inline;
        }
    }

    ul.nav-tabs {
        border: none;

        li.nav-item {
            border: none;
            border-bottom: 1px solid $primary;

            a.nav-link {
                border: none;

                &.active {
                    color: $primary;
                    border: none;
                    border-bottom: 3px solid $primary;
                    font-weight: bolder;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    ul.nav-pills {
        border: none;

        li.nav-item {
            border: none;

            a.nav-link {
                border: 1px solid $primary;
                border-right: none;
                background-color: $white;
                color: $primary;
                border-radius: 0;

                &.active {
                    color: $white;
                    background-color: $primary;

                    &:hover {
                        background-color: $primary;
                    }
                }

                &:hover {
                    background-color: rgba($primary, 0.1);
                    text-decoration: none;
                }
            }

            &:first-child a {
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
            }

            &:last-child a {
                border: 1px solid $primary;
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
            }
        }
    }

    .messaging-area-container {
        .tabs .tab .tabimage {
            height: auto;
            line-height: 1.4rem;
        }
        .send-button-container button {
            @extend .btn-primary;
            height: auto;
        }

        .message-text-container textarea {
            padding: .8rem 0.5rem;
        }
    }
}

body.path-mod-quiz {
    .maxgrade .invisiblefieldset {
        #inputmaxgrade {
            display: inline;
            width: auto;
        }
    }
}
